absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
flatbuffers
fonttools
frozendict
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
multitasking
namex
numpy
opt_einsum
optree
packaging
pandas
peewee
pillow
platformdirs
protobuf
Pygments
pyparsing
python-dateutil
pytz
requests
rich
scikit-learn
scipy
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
yfinance
gunicorn 
